* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    background: radial-gradient(circle, rgb(240, 214, 225) 0%, rgb(199, 210, 233) 100%);
}
.header {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.9rem;
  min-height: 100px;
}