* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-family: DINPro-bold;
    background: radial-gradient(circle, rgb(240, 214, 225) 0%, rgb(199, 210, 233) 100%);
}
.header {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.9rem;
  min-height: 10rem;
}
.header h1{
color:burlywood;
}
.container {
    margin-bottom: 8rem;
    margin-top: 8rem;
  border-radius: 0.5rem;
  padding: 2rem;
    max-width: 97ch;
display: flex;
justify-content: center;
align-items: center;
margin-left: 50rem;
border: 0.15rem solid rgb(0, 0, 0);

}
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(223, 209, 88);
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 1.2rem; 
  border-radius: 0.4rem; 
  box-sizing: border-box;
  margin-top: 0.6rem; 
  margin-bottom: 1.6rem; 
  resize: vertical;
  background: lightyellow;
}
.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 15rem;
  margin-bottom: 5rem;
  border: 0.1rem solid black;
  background: white;
box-sizing: border-box ;
max-width: 47rem;
  margin-left: 21rem;
  border-radius: 0.4rem;
  transition: transform .2s;
    flex-direction: column;

}
.skills p{
  margin-top: 5rem;
  font-size: 1.5rem;
  display: inline;
}

.skills:hover {
  transform: scale(1.1);
}
.skills_tweede{
display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  margin-top: 1.9rem;
  margin-bottom:5rem;
  border: 0.1rem solid black;
  background: white;
  box-sizing: border-box;
  max-width: 44rem;
  margin-left: 70rem;
  border-radius: 0.4rem;
  transition: transform .2s;
  flex-direction: column;
}
.skills_tweede p{
  margin-top: 5rem;
  font-size: 1.5rem;
}

.skills_tweede:hover {
  transform: scale(1.1);
}